{% extends 'base.html' %}
{% load static %}

{% block extra_head %}

    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">

{% endblock %}

{% block content %}

    {% for product in products %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>
              <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Show detail</a>
            </div>
          </div>
    {% endfor %}

{% endblock %}